@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Source+Sans+Pro:wght@400;600&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?9qykfa");
  src: url("../fonts/icons.eot?9qykfa#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?9qykfa") format("truetype"), url("../fonts/icons.woff?9qykfa") format("woff"), url("../fonts/icons.svg?9qykfa#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "";
}

.icon-delete:before {
  content: "";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #3F3F3F;
}

body {
  background: rgba(255, 254, 251, 0.8);
}

.container {
  max-width: 1396px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  width: 100%;
  height: 36px;
  margin-top: 31px;
}
.header__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}
@media (max-width: 575.98px) {
  .header__title {
    font-size: 18px;
  }
}
.header__select {
  min-width: 121px;
  height: 36px;
  padding: 10px 16px;
  cursor: pointer;
  background: #FFFEFB;
  background-image: url("../img/arrow-down.png");
  background-size: 8px 6px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 6px);
  background-position-y: 16px;
  outline: none;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #B4B4B4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.header__select option {
  font-size: 12px;
  color: #B4B4B4;
}

.main {
  margin: 16px 0 16px 0;
}
.main__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767.98px) {
  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.main__form {
  margin-right: 16px;
}
@media (max-width: 767.98px) {
  .main__form {
    margin: 0 0 16px 0;
  }
}
.main__list {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.main__empty {
  display: none;
  width: 100%;
  margin-top: 100px;
  margin-right: 300px;
  text-align: center;
  font-size: 38px;
  letter-spacing: 2px;
  color: rgba(255, 132, 132, 0.3);
}

.form {
  max-width: 332px;
  padding: 24px;
  background: #FFFEFB;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}
@media (max-width: 991.98px) {
  .form {
    max-width: 300px;
  }
}
.form__label {
  margin-bottom: 4px;
  position: relative;
  display: block;
  font-size: 10px;
  color: #49485E;
}
.form__label span {
  position: absolute;
  top: 0;
  left: auto;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: #FF8484;
}
.form__input {
  width: 284px;
  height: 36px;
  padding: 10px 16px;
  background: #FFFEFB;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}
.form__input::-webkit-input-placeholder {
  font-size: 12px;
  color: #B4B4B4;
}
.form__input::-moz-placeholder {
  font-size: 12px;
  color: #B4B4B4;
}
.form__input:-ms-input-placeholder {
  font-size: 12px;
  color: #B4B4B4;
}
.form__input::-ms-input-placeholder {
  font-size: 12px;
  color: #B4B4B4;
}
.form__input::placeholder {
  font-size: 12px;
  color: #B4B4B4;
}
.form__input:focus {
  outline: 1px solid #FF8484;
}
@media (max-width: 991.98px) {
  .form__input {
    width: 252px;
  }
}
.form__textarea {
  margin-bottom: 16px;
  width: 284px;
  height: 108px;
  padding: 10px 16px;
  background: #FFFEFB;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  resize: none;
}
.form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: #B4B4B4;
}
.form__textarea::-moz-placeholder {
  font-size: 12px;
  color: #B4B4B4;
}
.form__textarea:-ms-input-placeholder {
  font-size: 12px;
  color: #B4B4B4;
}
.form__textarea::-ms-input-placeholder {
  font-size: 12px;
  color: #B4B4B4;
}
.form__textarea::placeholder {
  font-size: 12px;
  color: #B4B4B4;
}
.form__textarea:focus {
  outline: 1px solid #FF8484;
}
@media (max-width: 991.98px) {
  .form__textarea {
    width: 252px;
  }
}
.form__btn {
  display: block;
  margin: 16px auto 0 auto;
  width: 284px;
  height: 36px;
}
@media (max-width: 991.98px) {
  .form__btn {
    width: 252px;
  }
}
.form__message {
  margin: 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 8px;
  color: #FF8484;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@-webkit-keyframes display {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes display {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 16px;
}
@media (max-width: 767.98px) {
  .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.list__item {
  position: relative;
  width: 332px;
  min-height: 423px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFEFB;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  -webkit-animation: display 0.6s ease-in-out;
          animation: display 0.6s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.list__item:hover {
  -webkit-transform: translateY(-12px);
      -ms-transform: translateY(-12px);
          transform: translateY(-12px);
}
.list__item:hover span {
  -webkit-transform: translate(8px, -8px);
      -ms-transform: translate(8px, -8px);
          transform: translate(8px, -8px);
  opacity: 1;
}
.list__item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 32px;
  height: 32px;
  opacity: 0;
  font-size: 16px;
  color: #fff;
  background: #FF8484;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 1395.98px) {
  .list__item {
    width: 265px;
  }
}
@media (max-width: 1199.98px) {
  .list__item {
    width: 300px;
  }
  .list__item span {
    -webkit-transform: translate(8px, -8px);
        -ms-transform: translate(8px, -8px);
            transform: translate(8px, -8px);
    opacity: 1;
  }
  .list__item:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
@media (max-width: 991.98px) {
  .list__item {
    width: 208px;
    min-height: 350px;
  }
}
@media (max-width: 767.98px) {
  .list__item {
    width: 270px;
    min-height: 423px;
  }
}
@media (max-width: 575.98px) {
  .list__item {
    width: 300px;
  }
}
.list__photo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
}
@media (max-width: 1395.98px) {
  .list__photo {
    height: calc(265px * 0.6);
  }
}
@media (max-width: 1199.98px) {
  .list__photo {
    height: calc(300px * 0.6);
  }
}
@media (max-width: 991.98px) {
  .list__photo {
    height: calc(208px * 0.6);
  }
}
@media (max-width: 767.98px) {
  .list__photo {
    height: calc(270px * 0.6);
  }
}
@media (max-width: 575.98px) {
  .list__photo {
    height: calc(300px * 0.6);
  }
}
.list__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.list__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 16px 16px 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.list__name {
  width: 100%;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  word-break: break-all;
}
@media (max-width: 991.98px) {
  .list__name {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .list__name {
    font-size: 20px;
  }
}
.list__descr {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 32px;
  font-size: 16px;
  word-break: break-all;
}
@media (max-width: 991.98px) {
  .list__descr {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .list__descr {
    font-size: 16px;
  }
}
.list__price {
  font-size: 24px;
  font-weight: 600;
  word-break: break-all;
}
@media (max-width: 991.98px) {
  .list__price {
    font-size: 22px;
  }
}
@media (max-width: 767.98px) {
  .list__price {
    font-size: 24px;
  }
}

.btn {
  background: #EEEEEE;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #B4B4B4;
}
.btn_active {
  cursor: pointer;
  background: #7BAE73;
  color: #fff;
}

.full-photo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  visibility: hidden;
}
.full-photo img {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.000001);
      -ms-transform: translate(-50%, -50%) scale(0.000001);
          transform: translate(-50%, -50%) scale(0.000001);
  max-width: 80%;
  max-height: 80%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767.98px) {
  .full-photo img {
    max-width: 95%;
    max-height: 95%;
  }
}
.full-photo_active {
  visibility: visible;
}
.full-photo_active img {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.full-photo__close {
  position: fixed;
  top: 30px;
  right: 30px;
  display: block;
  color: rgba(255, 132, 132, 0.8);
  font-size: 60px;
  line-height: 60%;
  cursor: pointer;
}