.btn {
    background: #EEEEEE; 
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: $gray-color;
}