.btn {
    background: #EEEEEE; 
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: $gray-color;
    &_active {
        cursor: pointer;
        background: #7BAE73;
        color: #fff;
    }
}