@import "base/fonts";
@import "base/variables";
@import "base/mixins";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: $main-color;
}

body {
	background: rgba($color: $white-color, $alpha: 0.8);
}

.container {
	max-width: 1396px;
	margin: 0 auto;
	padding: 0 10px;
	// @media (max-width: 1395px) {
	// 	max-width: 1180px;
	// }
	// @media (max-width: 1199.98px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: 991.98px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: 767.98px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

@import "blocks/header";
@import "blocks/main";
@import "blocks/form";
@import "blocks/list";
@import "blocks/btn";
@import "blocks/full-photo";